* {
    color: rgba(255, 255, 255, 0.63);
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(104, 102, 101);
  }
  nav {
    color: rgb(9, 9, 9);
    font-size:17px;
    font-style:italic;
    text-align: right;
}
    header{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "logo . nav"
        "title title .";
    }
    
    header > img {
        grid-area: logo;
    }
    
    header > nav {
        grid-area: nav;
    }
    header > nav a {
    margin-left: 10px;
    margin-right: 10px;
    transition: 2s;
    }
    header > nav a:link {
        text-decoration: none;
    }
    header > nav a:hover {
        text-decoration: none;
        color:blue;
    }
    header > h1{
        grid-area:title;
        color: rgb(43, 42, 41);
        font-size: 50px;
        font-style:italic;
        text-align: center;
    }
    input {
        color: black;
    }
    .trident {
    padding-top: 20px;
    color: rgb(49, 48, 48);
    font-size: 40px;
    position: absolute; 
    opacity:9; 
    top:0px ;
    left:40%;
    font-style:italic;
    text-align: center;
    }
    .banner{
    position: absolute;  
    top:0px ;
    left:0px;
    }
    .logo{
    position: absolute;  
    top:0px ;
    left:0px;
    }
    /* @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap'); */

    * {
      box-sizing: border-box;
      margin: 5px;
      padding: 0;
    }
    
    body {
    background-color: rgb(104, 102, 101);
      font-family: 'Barlow Semi Condensed', sans-serif;
      line-height: 1.7;
      font-size: 13px;
    }
    
    .testimonials {
      max-width: 1180px;
      margin: 20px 100px;
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
    }
    
    .card {
      background: rgb(166, 237, 195);
      border-radius: 10px;
      padding: 30px;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      margin-bottom: 10px;
    }
    .card_logo{
      box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 20px;
      width: 300px;
      text-align: center;
      background-color: rgba(37, 35, 35, 0.6);
      margin-bottom: 30px;
      padding: 30px;
    }
    
    .card__header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    
    .card__header h3 {
      font-size: 15px;
    }
    
    .card__header p {
      opacity: 50%;
    }
    
    .card__img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #71687e;
      margin-right: 10px;
    }
    
    .card__lead {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.3;
      margin-bottom: 20px;
    }
    
    .card__quote {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.4;
      opacity: 70%;
    }
    
    .card--dan {
      background: hsl(263, 55%, 52%);
      color: #fff;      
    }
    .card--skye{
        background: rgb(50, 105, 73);
        color: #fff;
    }
    
    .card--siobahn {
        background: hsl(33, 38%, 57%);
        color: #fff;
        max-height: 50%;
    }

    .card--shirlee {
      background: hsl(217, 22%, 39%);
      color: #fff;
    }
    
    .card--andy {
      background: hsl(219, 29%, 14%);
      color: #fff;
    }
    
    .card:nth-of-type(1) {
      grid-column: 1 / 3;
    }
    
    .card:nth-of-type(4) {
      grid-column: 2 / 4;
      grid-row: 2;
    }
    
    .card:nth-of-type(5) {
      grid-column: 4;
      grid-row: 1 / 3;
    }
    
    footer {
      text-align: left;
    }
    
    @media (max-width: 768px) {
      .testimonials {
        grid-template-columns: 1fr;
        width: 100%;
      }
    
      .card:nth-of-type(1) {
        grid-column: 1;
      }
    
      .card:nth-of-type(4) {
        grid-column: 1;
        grid-row: 4;
      }
    
      .card:nth-of-type(5) {
        grid-column: 1;
        grid-row: 5;
      }
    }
   