* {
    color: white;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(192, 166, 118);
  }
  
  h1 {
    color: rgb(131, 129, 115);
    font-size: 50px;
    font-style:italic;
    text-align: center;
  }
  nav {
    color: rgb(9, 9, 9);
    font-size:17px;
    font-style:italic;
    text-align: right;}
    header{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "logo . nav"
        "title title title";
    }
    
    header > img {
        grid-area: logo;
    }
    
    header > nav {
        grid-area: nav;
    }
    header > nav a {
    margin-left: 10px;
    transition: 2s;
    }
    header > nav a:link {
        text-decoration: none;
    }
    header > nav a:hover {
        text-decoration: none;
        color:blue;
    }
    header > h1{
        grid-area:title;
    }
    input {
        color: black;
    }
    .titleimage {
        background-image: src="./assets/prayerFlags.jpg";
        height: 250px;
    }
    
    .trident {
        padding-top: 20px;
        color: rgb(244, 237, 237);
        font-size: 30px;
        text-align: justify;
      position: absolute; 
      opacity:9; 
      top:0px ;
      left:50%;
      font-style:italic;
      text-align: center;
    }
    .banner{
    position: absolute;  
    top:0px ;
    left:0px;
    }
    .logo{
      position: absolute;  
    top:0px ;
    left:0px;
    }


.head {
    grid-area: header;
  }
  .content {
    grid-area: content;
  }
  .main-nav {
    grid-area: nav;
  }
  .side {
    grid-area: sidebar;
  }
  
  .footer {
    grid-area: footer;
  }
  .wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "header header"
      "nav nav"
      "content sidebar"
      "footer footer";
  }
  .card {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    background-color: rgba(162, 158, 158, 0.6);
  
  }
  .card h5{
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  img {
    border-radius: 5px 5px 5px 5px;
  }
  .gokyo{
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  .nola{
    display: flex; 
    flex-direction: column;
    align-items: center;
  }